body {
    font-family: Arial, sans-serif;
    background-color: #E74646;
    text-align: center;
    margin: 50px;
}

h1 {
    color: whitesmoke;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #999;
    border-radius: 4px;
}
